<body>
<div class="container pt-10" style="margin-top: 8%; padding: 5%; margin-left: 28%;" >
    <div class="row">
      <div class="col-sm  mr-100 align-items-start landingText">
        <div class="col ml-3">
          <div>
            <p class="text-start">
              <span style="font-size: 28pt;"><strong>Tchat<span style="  color: #424fc5;" >Events</span></strong> EST UN ESPACE QUI VOUS PERMET D'ORGANISER DES ÉVÉNEMENTS </span><br/>
          </div>
        </div>
      </div>
      <div class="col-sm d-flex ">
        <img src="assets/img/logo new.png" width="300" height="300" style="margin-top: 14%; margin-left: 17%; " />
      </div>
    </div>
  </div>
</body>