<body>
  <nav
    class="navbar navbar-expand-lg"
    style="background-color: rgb(230, 230, 238)"
  >
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <img src="../../../favicon.ico" style="width: 30px" /><a
          style="font-size: 1.2em; text-transform: uppercase"
          ><b>Tchat<span style="color: #424fc5">EVENTS</span></b></a
        >
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <button
              mat-button
              color="primary"
              class=""
              routerLink="/home"
              style="
                color: #424fc5;
                text-decoration: none;
                font-size: 1em;
                text-transform: uppercase;
                font-weight: 500;
                display: inline-block;
                transition: all 0.2s ease-in-out;
              "
            >
              <b>Page d'acceuil</b>
            </button>
          </li>

          <li class="nav-item">
            <button
              mat-button
              color="primary"
              class="nav-link"
              href="#"
              style="
                color: #424fc5;
                text-decoration: none;
                font-size: 1em;
                text-transform: uppercase;
                font-weight: 500;
                display: inline-block;
                transition: all 0.2s ease-in-out;
              "
              routerLink="/AllPendingRequest"
              *ngIf="userService.roleMatch(['Admin'])"
            >
              <b>Consulter les demandes</b>
            </button>
          </li>

          <li class="nav-item">
            <button
              mat-button
              color="primary"
              class="nav-link"
              href="#"
              style="
                color: #424fc5;
                text-decoration: none;
                font-size: 1em;
                text-transform: uppercase;
                font-weight: 500;
                display: inline-block;
                transition: all 0.2s ease-in-out;
              "
              routerLink="/addEvent"
              *ngIf="userService.roleMatch(['User'])"
            >
              <b>Demande d'organiser evenement</b>
            </button>
          </li>

          <li class="nav-item">
            <button
              mat-button
              color="primary"
              class="nav-link"
              href="#"
              style="
                color: #424fc5;
                text-decoration: none;
                font-size: 1em;
                text-transform: uppercase;
                font-weight: 500;
                display: inline-block;
                transition: all 0.2s ease-in-out;
              "
              routerLink="/MyPendingDemande"
              *ngIf="userService.roleMatch(['User'])"
            >
              <b>Demandes en Attente</b>
            </button>
          </li>

          <li class="nav-item">
            <button
              mat-button
              color="primary"
              class="nav-link"
              href="#"
              style="
                color: #424fc5;
                text-decoration: none;
                font-size: 1em;
                text-transform: uppercase;
                font-weight: 500;
                display: inline-block;
                transition: all 0.2s ease-in-out;
              "
              routerLink="/MyAcceptedDemande"
              *ngIf="userService.roleMatch(['User'])"
            >
              <b>Demandes Acceptées</b>
            </button>
          </li>

          <li class="nav-item">
            <button
              mat-button
              color="primary"
              class="nav-link"
              href="#"
              style="
                color: #424fc5;
                text-decoration: none;
                font-size: 1em;
                text-transform: uppercase;
                font-weight: 500;
                display: inline-block;
                transition: all 0.2s ease-in-out;
              "
              routerLink="/MyRefusedDemande"
              *ngIf="userService.roleMatch(['User'])"
            >
              <b>Demandes Refusées</b>
            </button>
          </li>

          <li class="nav-item">
            <button
              mat-button
              color="primary"
              class="nav-link"
              href="#"
              style="
                color: #424fc5;
                text-decoration: none;
                font-size: 1em;
                text-transform: uppercase;
                font-weight: 500;
                display: inline-block;
                transition: all 0.2s ease-in-out;
              "
              routerLink="/AllAcceptedDemande"
              *ngIf="userService.roleMatch(['Admin'])"
            >
              <b>Liste évenements Publiées</b>
            </button>
          </li>

          <li class="nav-item">
            <button
              mat-button
              color="primary"
              class="nav-link"
              href="#"
              style="
                color: #424fc5;
                text-decoration: none;
                font-size: 1em;
                text-transform: uppercase;
                font-weight: 500;
                display: inline-block;
                transition: all 0.2s ease-in-out;
              "
              routerLink="/AllReserved"
              *ngIf="userService.roleMatch(['Admin'])"
            >
              <b>Liste des réservations des clients</b>
            </button>
          </li>

          <li class="nav-item">
            <button
              mat-button
              color="primary"
              class="nav-link"
              href="#"
              style="
                color: #424fc5;
                text-decoration: none;
                font-size: 1em;
                text-transform: uppercase;
                font-weight: 500;
                display: inline-block;
                transition: all 0.2s ease-in-out;
              "
              routerLink="/EventsMarketplace"
              *ngIf="isLoggedIn()"
            >
              <b>Evenements Programmées</b>
            </button>
          </li>

          <!-- <li class="nav-item">
                        <button mat-button color="primary" class="" href="#" style="  color: #424fc5; text-decoration: none; font-size: 1.0em; 
                         text-transform: uppercase; font-weight: 500;   display: inline-block; transition: all 0.2s ease-in-out; "><b>Espace des évenements Tchat</b></button>
                    </li>  -->
        </ul>
        <form class="d-flex" role="search">
          <button
            *ngIf="!isLoggedIn()"
            routerLinkActive="active"
            type="button"
            class="button-62"
            routerLink="/login"
          >
            Connexion
          </button>
          <button
            *ngIf="isLoggedIn()"
            routerLinkActive="active"
            type="button"
            class="button-63"
            (click)="logout()"
            routerLink="/login"
          >
            Déconnexion
          </button>
        </form>
      </div>
    </div>
  </nav>
</body>
