@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
.title{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    color: #424fc5;
    font-size: 2em;
    font-weight: 500;
    text-transform:uppercase;
    position: relative;
    margin-left: 3%;
}

body {
    font-family: "Montserrat", sans-serif;
}

mat-grid-tile{
    border: 1px solid #eee;
    
}

.btn-remove-image{
    position: absolute;
    cursor: pointer;
    top: -30px;
    right: -30px;
    background-color: #424fc5;
    color: #eee;
    border-radius: 50%;
    width: 20px;
    height: auto;
    text-align: center;
}

