<body>
    <div>
        <h1 mat-dialog-title class="title"><b>Espace de réservation</b></h1>
        <div mat-dialog-content>
            
            <body>  
                <form>
                    <!-- <div class="container mt-5"> -->
                    <p style="color: #000000; margin-left: 37%; margin-top: 30px ;font-size: 1.2em; "><b>Choix de votre
                            place </b></p>
                    <br>
                    <div style="margin-top: 30px" align="end">
                        <button mat-raised-button mat-dialog-close color="primary">Réserver</button>
                        <button (click)="test()">test</button>
                    </div>
                    
                </form>
            </body>
            <!-- <span>{{ data.descriptions }}</span> -->

        </div>
    </div>
</body>

<!-- (click)="getPlaceOfSalle(p)" -->